.grid{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(300px, 400px));
    grid-gap: 50px;
    padding: 10px 0;
}

.project__title{
    text-align: center;
}


@media screen and (max-width: 665px){
    .grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}