.ArticlesList{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(300px, 400px));
    grid-gap: 50px;
}
@media screen and (max-width: 665px){
    .ArticlesList{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .ArticleCard{
        width: 100%;
    }
}
